<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-xs-12">
  <div class="panel panel-default" ng-show="!loggedIn || !voted">
    <div class="panel-body">
      <h3>{{poll.name}}</h3>
        <div ng-repeat="option in poll.options">
          <div class="form-group" ng-click="castVote()">
            <div class="radio">
              <label>
                <input type="radio"
                ng-disabled="voted || !loggedIn"
                ng-model="vote.name"
                value="{{option.name}}">
              </input>
              {{option.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 id="sign-in-warning" ng-show="!loggedIn">Sign up to cast your vote!</h3>
    <div class="panel panel-default" ng-show="loggedIn && voted">
      <div class="panel-heading">
        Results
      </div>
      <div class="text-center panel-body">
        <cjs-bar dataset="barData"></cjs-bar>
      </div>
    </div>
  </div>
